/* page.css */
.searchButtonContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 300px; /* Space below the "Search" text */
}

.shorterWidth {
  width: 750px; /* or any specific width you desire */
}
