.navContainer {
    display: flex;
    justify-content: space-between;
    margin-inline-end: 7em;
    padding: 1em;
}

.list {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.logo {
    /* padding: 1em; */
    background: none;
    border: none;
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
}

.button {
    padding: 0.25em 0.5em;
    background: none;
    border: none;
    border-radius: 0.25em;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
}

.button:hover  {
    background: rgba(80, 80, 80, 0.5);
}


.button.selected {
    background: black;
    color: white;
}


.courseList {
    display: flex;
    flex-direction: column;
}