.concept-bar-container {
  position: fixed;
  left: 0;
  top: 180px;
  width: 300px; /* Adjust based on your design */
  height: 100%;
  overflow-y: auto; /* Enable scroll if content is longer than the screen */
}

.main-content {
  margin-top: 65px;
  margin-left: 350px;
  overflow: hidden;
}
