.card {
  background-color: var(--mantine-color-body);
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.title,
.description {
  text-align: center;
  width: 100%;
}

.button {
  width: 100%;
}