.th {
  padding: 0;
}

.control {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.icon {
  width: rem(21px);
  height: rem(21px);
  border-radius: rem(21px);
}

.tagsColumn {
  width: 27%;
}

.tag {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--mantine-color-gray-2);
  color: var(--mantine-color-gray-8);
  font-size: var(--text-tiny);
  margin-right: 8px;
}

.descriptionColumn {
  width: 40%;
}
.dateColumn {
  width: 10%;
}

.scrollAreaContainer {
  padding-right: 40px;
}
