* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.required-symbol {
  color: #ff0000;
}

.sub-text {
  font-size: 14px;
  color: #717171;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 0.5em;
}

.mt-2 {
  margin-top: 1em;
}

.mt-3 {
  margin-top: 3em;
}

.mb-2 {
  margin-bottom: 1em;
}

.mb-3 {
  margin-bottom: 3em;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-p25 {
  gap: 0.25em;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

.error {
  color: red;
}

label {
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  color: black;
  background: white;
  border: #d2d2d2 1px solid;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
}

button[type="submit"]:disabled {
  opacity: 0.6; /* Reduced opacity to indicate it's disabled */
  cursor: not-allowed;
}

input:focus {
  border-color: #00a6dd; /* Change border color when input is focused */
  outline: none; /* Remove default browser outline */
}

input.input-error {
  border-color: #e03944;
}

a,
a:visited {
  color: blue;
  text-decoration: none;
}

button {
  border: none;
}

:root {
  --navBar: #e9e5e4;
  --backgroundLight: #f7f5f5;
  --backgroundDark: #212429;
  --backgroundGray: #e0e0e0;
  --osuOrange: #d73f08;
}
