/* @link https://utopia.fyi/type/calculator?c=320,14,1.25,1440,16,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --comment-author: 13px;
  --comment-upload-date: 12px;
  --comment-text: 14px;

  --comment-container-width: 600px;

  --grey-border-color: #afa9a9;

  /* font sizes */
  --text-tiny: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-regular: 1rem; /* 16px */
  --text-md-sm: 1.125rem; /* 16px */
  --text-md: 1.25rem /* 20px */;
  --text-lg: 1.5rem /* 24px */;
  --heading-1: clamp(40px, 4vw + 1rem, 56px);
  --heading-2: clamp(36px, 3.6vw + 0.9rem, 48px);
  --heading-3: clamp(32px, 3.2vw + 0.8rem, 40px);
  --heading-4: clamp(24px, 2.4vw + 0.6rem, 32px);
  --heading-5: clamp(20px, 2vw + 0.5rem, 24px);
  --heading-6: clamp(18px, 1.8vw + 0.45rem, 20px);

  /* line height  */
  --display-line-height: 125%;
  --heading-line-height: 120%;
  --body-line-height: 147%;
  --label-line-height: 141%;

  /* letter spacing  */
  --display-letter-spacing: calc(-2.5 / 100 * 1em);
  --heading-letter-spacing: calc(-2 / 100 * 1em);
  --body-letter-spacing: calc(0 / 100 * 1em);
  --label-letter-spacing: calc(0 / 100 * 1em);

  /* clamp padding used for top of each component */
  --large-clamp-padding: clamp(1px, 10.6666666667vw, 144px);
  --regular-clamp-padding: clamp(1px, 10.6666666667vw, 81.92px);
  --md-clamp-padding: clamp(1px, 10.6666666667vw, 64px);

  /* padding used for each component */
  --min-padding-x: 6%;

  /* max width */
  --max-width: 2000px;
}

/* Update font sizes for tablet */
@media (min-width: 768px) {
  :root {
    --heading-1: clamp(52px, 5vw + 1rem, 72px);
    --heading-2: clamp(44px, 4.4vw + 0.9rem, 48px);
    --heading-3: clamp(36px, 3.6vw + 0.8rem, 40px);
    --heading-4: clamp(28px, 2.8vw + 0.6rem, 32px);
    --heading-5: clamp(24px, 2.4vw + 0.5rem, 24px);
    --heading-6: clamp(20px, 2vw + 0.45rem, 20px);
  }
}

/* Update font sizes for desktop */
@media (min-width: 1024px) {
  :root {
    --heading-1: clamp(72px, 5.6vw + 1rem, 80px);
    --heading-2: clamp(48px, 4.8vw + 0.9rem, 48px);
    --heading-3: clamp(40px, 4vw + 0.8rem, 40px);
    --heading-4: clamp(32px, 3.2vw + 0.6rem, 32px);
    --heading-5: clamp(24px, 2.4vw + 0.5rem, 24px);
    --heading-6: clamp(20px, 2vw + 0.45rem, 20px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  /* color: black !important; */
}

body {
  font-size: 16px;
}

h1,
.heading-1 {
  font-size: var(--heading-1);
  line-height: var(--display-line-height);
  letter-spacing: var(--display-letter-spacing);
}

h2,
.heading-2 {
  font-size: var(--heading-2);
}

h3,
.heading-3 {
  font-size: var(--heading-3);
}

h4,
.heading-4 {
  font-size: var(--heading-4);
}

h5,
.heading-5 {
  font-size: var(--heading-5);
}

h6,
.heading-6 {
  font-size: var(--heading-6);
}

h2,
h3,
h4,
h5,
h6 {
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
}

p {
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-md {
  font-size: var(--text-md);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-tiny {
  font-size: var(--text-tiny);
}

.h-min-100 {
  min-height: 100dvh;
}

.light-border {
  border: 1px solid var(--grey-border-color);
}

.md-container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 2em;
}

.comment-container {
  /* max-width: var(--comment-container-width); */
}

.required-symbol {
  color: #ff0000;
}

.sub-text {
  font-size: 14px;
  color: #717171;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-baseline {
  align-items: baseline;
}

.gap-p25 {
  gap: 0.25em;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

.error {
  color: red;
}

label {
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  color: black;
  background: white;
  border: #d2d2d2 1px solid;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
}

button[type="submit"]:disabled {
  opacity: 0.6; /* Reduced opacity to indicate it's disabled */
  cursor: not-allowed;
}

input:focus {
  border-color: #00a6dd; /* Change border color when input is focused */
  outline: none; /* Remove default browser outline */
}

input.input-error {
  border-color: #e03944;
}

a,
a:visited {
  color: blue;
  text-decoration: none;
}

button {
  border: none;
}

.site-logo {
  font-weight: bold;
}

.vertical-middle {
  vertical-align: middle;
}

.button--primary {
  color: white !important;
  text-decoration: none;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-inline: auto;
  padding: 5%;
  /* width: 100%; */
  max-width: var(--max-width);
  gap: 1em;
}

label,
.label {
  font-weight: bold;
  color: #6c757d;
}

.label {
  font-size: var(--text-md-sm);
  font-weight: 700;
}

.bold {
  font-weight: bold;
}

/* Clamp padding used for top of each component  */

.pt-clamp-lg {
  padding-top: var(--large-clamp-padding);
}

.pt-clamp-regular {
  padding-top: var(--regular-clamp-padding);
}

.pt-clamp-md {
  padding-top: var(--md-clamp-padding);
}

/* max width used for each component */
.container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--min-padding-x);
  /* overflow: hidden; */
}

.container-md {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: var(--min-padding-x);
  /* overflow: hidden; */
}

.h2-mb-lg {
  margin-bottom: 56px;
}

.h2-mb-md {
  margin-bottom: 32px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.margin-inline-auto {
  margin-inline: auto;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* resources page */
.resource-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.resource-tags-container {
  display: flex;
  gap: 16px;
}

.resource-tag-item {
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

.bg-primary {
  background: var(--osuOrange);
}

.bg-primary-text {
  color: white;
}

.max-width {
  max-width: var(--max-width);
}

/* footer */
.footer-container {
  margin-top: var(--md-clamp-padding);
  padding: 32px var(--min-padding-x);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.footer-items-container {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}

.footer-item-title {
  margin-bottom: 16px;
}

.footer-item-links {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-item-links a {
  text-decoration: none;
  color: white !important;
}

:root {
  --navBar: #e9e5e4;
  --backgroundLight: #f7f5f5;
  --backgroundDark: #212429;
  --backgroundGray: #e0e0e0;
  --osuOrange: #d73f08;
}
