/* @import '@/styles/rootVariables.css'; */

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  max-width: var(--comment-container-width);
}

.author {
  font-size: var(--comment-author);
  font-weight: 600;
}

.uploadDate {
  font-size: var(--comment-upload-date);
  vertical-align: center;
  color: #535353;
}

.comment {
  font-size: var(--comment-text);
}
