.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  margin-top: 5em;
  width: 25%;
}

.category {
  display: flex;
  justify-content: space-between;
}

.signOut {
  margin-top: 5em;
}
