.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
}

.formSuccess {
    padding: 0.25em;
    background: rgb(8, 225, 8);
    color: rgb(12, 124, 12);
    
}

.formError {
    padding: 0.25em;
    background: rgb(241, 191, 191);
    color: red;
}

/** /authtest/login */
.title {
    text-align: center;
    margin-bottom: 1em;
}

.cardFormWrapper {
    width: 35%;
    padding: 1em;
    border-radius: 0.5em;
    background: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    border-radius: 0.25em;
}

.form input {
    font-size: 1.1rem;
    padding: 0.25em 0.5em;
    cursor: pointer;
}

/** /auth/register */
.toLoginBtn {
    margin-block: 1em;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.toLoginBtn:hover {
    text-decoration: underline;
}